@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 600;
  border-bottom: 1px solid rgb(196, 21, 21);
  margin-bottom: 50px;
}

ul {
  display: flex;
  list-style: none;
}

ul li {
  margin-right: 50px;
}

.navbar img {
  width: 70px;
  padding-left: 50px;
}

.btn1 {
  margin-right: 50px;
  background-color: rgb(196, 21, 21);
  color: white;
  border: 0;
  padding: 10px 25px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn1:hover {
  background-color: transparent;
  border: 1px solid rgb(196, 21, 21);
  color: rgb(196, 21, 21);
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left {
  margin-left: 100px;
  transform: translateX(-500px);
  animation: left-right 1.5s ease forwards;
}

@keyframes left-right {
  100% {
    transform: translateX(0);
  }
}

.title {
  font-size: 90px;
  font-weight: 800;
  line-height: 1.2;
}

.left p {
  font-size: 10px;
  font-weight: 500;
}

.btns {
  margin-top: 30px;
}

.btn2 {
  margin-right: 50px;
  background-color: transparent;
  border: 1px solid rgb(196, 21, 21);
  color: rgb(196, 21, 21);
  padding: 10px 25px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn2:hover {
  background-color: rgb(196, 21, 21);
  color: white;
}

.social {
  margin-top: 20px;
}

.social-icons {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.social-1 {
  font-size: 19px;
}

.social-icons img {
  width: 40px;
}

.right img {
  width: 700px;
  transform: scale(0.5);
  animation: zoom-in 1.5s ease forwards;
}

@keyframes zoom-in {
  100% {
    transform: scale(1);
  }
}
