@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  cursor: none;
}

@theme {
  --color-primary: #5044e5;
}
